.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--themecolor);
  font-size: x-large;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid black;
}

.nav-center {
  display: flex;
  left: 0;
  right: 0;
  gap: 2rem;
}

.navbar a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.navbar a.active-link {
  text-decoration: underline;
}

.navbar a:hover {
  color: white;
}

.theme-toggle-btn {
  font-size: medium;
}
